#content {
    padding-top: 90px;
}
.textareasize {
    width: 90%;
    height: 300px;

}


#header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: cadetblue;
    text-align: center;
}
